@model UserManagement.Models.ForgotPasswordViewModel

<h2>Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    <div>
        <input type="submit" value="Send Password Reset Link" class="btn btn-primary" />
    </div>
}
